

.cookies {
  color: white;
  background-color: #270D0B;
  padding: .5em 2em;
  margin-bottom: .5em;
  text-align: center;

  label {
    line-height: 1.5em;
  }

  i {
    line-height: 1.5em;
    color: #BD8C61;
  }

  & > * {
    margin-right: .5em;
  }
  a {
    &:link, &:visited {
      color: white;
    }
  }
  .accept {
    display: inline-table;
    margin-left: .5em;
    color: #270D0B;
    background-color: white;
    padding: 0 1em;
    cursor: pointer;
  }
}
