
.header {
  padding-bottom: .5em;

  .title {
    padding: .5em 0;
    font-size: 1.5em;
    cursor: pointer;
    user-select: none;
    i {
      font-size: .75em;
      margin-right: .5em;
    }
  }
  .subHeader {
    color: #666666;
    font-weight: 10;

    & > div {
      &:first-child {
        margin-bottom: .5em;
      }
    }
  }
}
