
.header {
  padding: .5em 1em;

  .title {
    padding: .5em 0;
    font-size: 1.5em;
    cursor: pointer;
    user-select: none;
  }
  .subHeader {
    color: dimgray;
    font-weight: 10;

    & > div {
      &:first-child {
        margin-bottom: .5em;
      }
    }
  }
}
